<div class="row">
  <nav class="navbar navbar-light" style="background-color: teal">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      <a class="navbar-brand" href="/employee">Employee</a>
      <a class="navbar-brand" [routerLink]="['/customer']" routerLinkActive="router-link-active">Customer</a>
      <a class="navbar-brand" [routerLink]="['/facility']" routerLinkActive="router-link-active">Service</a>
      <a class="navbar-brand" [routerLink]="['/contract']" routerLinkActive="router-link-active">Contract</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<div class="row" style="margin-bottom: -80px">
  <img src=" https://cf.bstatic.com/xdata/images/hotel/max1024x768/62371531.jpg?k=fb1828d64f739b526944dcb487699e4625ad8799986e0e4ef5c2c930dcf39b6c&o=&hp=1">
</div>
