<div class="row">
  <nav class="navbar navbar-light" style="background-color: teal">
    <div class="container-fluid" style="position: relative">
      <a class="navbar-brand"
         [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>

      <button class="btn btn-light" style="position: absolute;left: 100px" data-bs-toggle="modal"
              data-bs-target="#addmodal">Thêm Khách Hàng
      </button>
      <form action="/customer/find" method="get" style="position:absolute ;top: 1px;right: 30px"
            class="d-flex">
        <input class="form-control me-2" type="search" name="name" placeholder="Họ Tên" aria-label="Search">
        <input class="form-control me-2" type="search" name="email" placeholder="Email" aria-label="Search">
        <input class="form-control me-2" type="search" name="type" placeholder="Loại Khách" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Tìm</button>
      </form>
    </div>
  </nav>
</div>
<div class="bgimg" style="margin-bottom: -80px">
  <br> <br> <br>
  <div id="checkTable">
    <table class="table" style="backdrop-filter: blur(10px);color: aliceblue;font-weight: bold">
      <thead>
      <tr>
        <th>#</th>
        <th>Họ Tên</th>
        <th>Ngày Sinh</th>
        <th>Giới Tính</th>
        <th>CMND</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa Chỉ</th>
        <th>Loại Khách</th>
        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of customers | paginate: {itemsPerPage: 5 ,currentPage: p} ; index as i">
        <td>{{i + 1}}</td>
        <td>{{x.name}}</td>
        <td>{{x.dateOfBirth | date: "fullDate"}}</td>
        <td>
        <span *ngIf="x.gender == true">Nam</span>
        <span *ngIf="x.gender == false">Nữ</span>
        </td>
        <td>{{x.iDCard}}</td>
        <td>{{x.phoneNumber}}</td>
        <td>{{x.email}}</td>
        <td>{{x.address}}</td>
        <td>{{x.customerType.name}}</td>
        <td>
          <button (click)="checkForUpdate(x)" class="btn btn-light" data-bs-toggle="modal"
                  data-bs-target="#editModal">
            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td>
          <button (click)="checkForDelete(x.id,x.name)" class="btn btn-light" data-bs-toggle="modal"
                  data-bs-target="#deleteModal"><i
            class="fa-sharp fa-solid fa-user-slash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div> <br> <br> <br>
</div>

<div class="modal" tabindex="-1" id="addmodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới khách hàng <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAdd" (ngSubmit)="addCustomer()">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tên Khách Hàng: </label>
            <div class="col-sm-10">
              <input type="text" formControlName="name" class="form-control" name="name">
              <p class="text-danger"></p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Sinh</label>
            <div class="col-sm-10">
              <input type="date" formControlName="dateOfBirth" class="form-control" name="dateOfBirth">

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Giới Tính</label>
            <div class="col-sm-10" id="genderCheck">
              <input type="radio" [value]="1"  formControlName="gender" name="gender" class="form-check-input"
                     > Nam
              <input type="radio" formControlName="gender" style="margin-left: 25px" name="gender"
                     [value]="0"  class="form-check-input" > Nữ
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số CMND</label>
            <div class="col-sm-10">
              <input type="number" formControlName="iDCard"  class="form-control" name="iDCard">
              <p  class="text-danger"></p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số Điện Thoại </label>
            <div class="col-sm-10">
              <input formControlName="phoneNumber" type="number" class="form-control"
                     name="phoneNumber">

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Email </label>
            <div class="col-sm-10">
              <input type="email" formControlName="email" id="email" class="form-control" name="email">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Địa Chỉ </label>
            <div class="col-sm-10">
              <input type="text" formControlName="address"  class="form-control" name="address">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Kiểu Khách</label>
            <div class="col-sm-10">
              <select  formControlName="customerType" class="form-select" name="customerType">
                <option disabled ngValue="">Chọn kiểu khách</option>
                <option *ngFor="let x of customerTypes" [ngValue]="x">{{x.name}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary"  [disabled]="formAdd.invalid"  data-bs-dismiss="modal">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
<div class="modal" tabindex="-1" id="editModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sửa thông tin khách hàng <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdit" (ngSubmit)="updateCustomer()" >
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Họ Tên: </label>
            <div class="col-sm-10">
              <input type="hidden" formControlName="id">
              <input type="text" formControlName="name" class="form-control" name="name">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Sinh</label>
            <div class="col-sm-10">
              <input type="date"  formControlName="dateOfBirth" class="form-control" name="dateOfBirth">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Giới Tính</label>
            <div class="col-sm-10">
              <input type="radio"  name="gender" formControlName="gender" [checked]="formEdit.controls.gender.value == 1" class="form-check-input" [value]="1" > Nam
              <input type="radio"  name="gender" formControlName="gender" [checked]="formEdit.controls.gender.value == 0" class="form-check-input" [value]="0" > Nữ

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số CMND</label>
            <div class="col-sm-10">
              <input type="number" formControlName="iDCard" class="form-control" name="iDCard">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số Điện Thoại </label>
            <div class="col-sm-10">
              <input formControlName="phoneNumber" type="number" class="form-control" name="phoneNumber">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Email </label>
            <div class="col-sm-10">
              <input type="email" formControlName="email" class="form-control" name="email">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Địa Chỉ </label>
            <div class="col-sm-10">
              <input type="text" formControlName="address" class="form-control" name="address">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Kiểu Khách</label>
            <div class="col-sm-10">
              <select formControlName="customerType" class="form-select" name="customerType" [compareWith]="compareFN">
                <option *ngFor="let x of customerTypes" [ngValue]="x">{{x.name}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="success">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contentSuccess">Thêm Mới Thành Công</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 id="successText"></h2>
      </div>
      <div class="modal-footer">
        <button data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-primary">Đồng Ý</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác Nhận Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  method="post">
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa <b>
            <span >{{nameZ}}</span>
          </b> ?</p>
        </div>
        <input type="hidden" name="id" id="idDelete">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" data-bs-dismiss="modal" (click)="deleteCustomer()" class="btn btn-primary">Xóa</button>
        </div>
      </form>

    </div>
  </div>
</div>



