<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: head('Customer')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{layout :: header}"></div>
<div class="row">
    <nav class="navbar navbar-light" style="background-color: teal">
        <div class="container-fluid" style="position: relative">
            <a class="navbar-brand"
               th:href="@{/}">Home</a>

            <button class="btn btn-light" style="position: absolute;left: 100px" data-bs-toggle="modal"
                    data-bs-target="#addmodal">Thêm Khách Hàng
            </button>
            <form action="/customer/find" method="get" style="position:absolute ;top: 1px;right: 30px"
                  class="d-flex">
                <input class="form-control me-2" type="search" name="name" placeholder="Họ Tên" aria-label="Search">
                <input class="form-control me-2" type="search" name="email" placeholder="Email" aria-label="Search">
                <input class="form-control me-2" type="search" name="type" placeholder="Loại Khách" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Tìm</button>
            </form>
        </div>
    </nav>
</div>
<div class="bgimg">
    <br> <br> <br>
    <div id="resultFind" style="backdrop-filter: blur(10px);color: aliceblue;font-weight: bold;width: 100%">
        <center>
            <h1 style="padding: 30px 0" th:if="${nameFind != ''}" th:text="${'Không tìm thấy tên ' + nameFind} "></h1>
            <h1 style="padding: 30px 0" th:if="${emailFind != ''}"
                th:text="${'Không tìm thấy email ' + emailFind} "></h1>
            <h1 style="padding: 30px 0" th:if="${typeFind != ''}" th:text="${'Không tìm thấy kiểu ' + typeFind} "></h1>
        </center>
    </div>
    <div id="checkTable">
        <table class="table" style="backdrop-filter: blur(10px);color: aliceblue;font-weight: bold">
            <thead>
            <tr>
                <th>#</th>
                <th>Họ Tên</th>
                <th>Ngày Sinh</th>
                <th>Giới Tính</th>
                <th>CMND</th>
                <th>Số Điện Thoại</th>
                <th>Email</th>
                <th>Địa Chỉ</th>
                <th>Loại Khách</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer ,status: ${list}">
                <td th:text="${status.count + list.number * list.size}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.dateOfBirth}"></td>
                <td th:if="${customer.gender}">
                    <span>Nam</span>
                </td>
                <td th:unless="${customer.gender}">
                    <span>Nữ</span>
                </td>
                <td th:text="${customer.iDCard}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.customerType.name}"></td>
                <td>
                    <button class="btn btn-light" data-bs-toggle="modal"
                            data-bs-target="#editModal"
                            th:attr="onclick=|update('${customer.id}','${customer.name}','${customer.dateOfBirth}','${customer.gender}','${customer.iDCard}','${customer.phoneNumber}','${customer.email}','${customer.address}','${customer.customerType.id}')|">
                        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-light" data-bs-toggle="modal"
                            data-bs-target="#deleteModal"
                            th:attr="onclick=|deleteCustomer('${customer.id}','${customer.name}')|"><i
                            class="fa-sharp fa-solid fa-user-slash"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
        <center>
            <a class="btn btn-light" id="pre">Previous</a>
            <button id="pagez" class="btn btn-outline-light">1</button>
            <a class="btn btn-light" id="nex">Next</a>
        </center>
    </div>

    <div th:replace="~{layout :: footer}"></div>
</div>


<div class="modal" tabindex="-1" id="addmodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới khách hàng <i class="fa-sharp fa-solid fa-user"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form th:action="@{/customer/add}" method="post" th:object="${customer}">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Tên Khách Hàng: </label>
                        <div class="col-sm-10">
                            <input type="text" id="nameAdd" th:field="*{name}" class="form-control" name="name">
                            <p th:errors="*{name}" class="text-danger"></p>
                        </div>
                    </div>
                    <input type="hidden" name="validate" value="add">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Ngày Sinh</label>
                        <div class="col-sm-10">
                            <input type="date" id="dateOfBirthAdd" th:field="*{dateOfBirth}" class="form-control" name="birthday">
                            <p th:errors="*{dateOfBirth}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Giới Tính</label>
                        <div class="col-sm-10" id="genderCheck">
                            <input type="radio"   th:field="*{gender}" name="gender1" class="form-check-input"
                                   value="true"> Nam
                            <input type="radio"   th:field="*{gender}" style="margin-left: 25px" name="gender1"
                                   class="form-check-input" value="false"> Nữ

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Số CMND</label>
                        <div class="col-sm-10">
                            <input type="number" id="iDCardAdd" th:field="*{iDCard}" class="form-control" name="iDCard">
                            <p th:errors="*{iDCard}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Số Điện Thoại </label>
                        <div class="col-sm-10">
                            <input th:field="*{phoneNumber}" id="phoneNumberAdd" type="number" class="form-control" name="phoneNumber">
                            <p th:errors="*{phoneNumber}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Email </label>
                        <div class="col-sm-10">
                            <input type="email" th:field="*{email}" id="emailAdd" class="form-control" name="email">
                            <p th:errors="*{email}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Địa Chỉ </label>
                        <div class="col-sm-10">
                            <input type="text" id="addressAdd" th:field="*{address}" class="form-control" name="address">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Kiểu Khách</label>
                        <div class="col-sm-10">

                            <select th:field="*{customerType}" id="customerTypeAdd" class="form-select" name="customerType">
                                <option th:each="type : ${listType}" th:value="${type.id}"
                                        th:text="${type.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Xác Nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="editModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa thông tin khách hàng <i class="fa-sharp fa-solid fa-user"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/customer/add}" method="post" th:object="${customer}">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Họ Tên: </label>
                        <div class="col-sm-10">
                            <input type="hidden" id="idEdit" th:field="*{id}">
                            <input type="text" id="nameEdit" th:field="*{name}" class="form-control" name="name">
                            <p th:errors="*{name}" class="text-danger"></p>
                        </div>
                    </div>
                    <input type="hidden" name="validate" value="edit">
                    <input type="hidden" name="modal" value="edit">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Ngày Sinh</label>
                        <div class="col-sm-10">
                            <input type="date" id="dateOfBirthEdit" th:field="*{dateOfBirth}" class="form-control"
                                   name="birthday">
                            <p th:errors="*{dateOfBirth}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Giới Tính</label>
                        <div class="col-sm-10">
                            <input type="radio" id="genderS1" checked th:field="*{gender}" name="gender"
                                   class="form-check-input"
                                   value="true"> Nam
                            <input type="radio" id="genderS2" th:field="*{gender}" style="margin-left: 25px"
                                   name="gender"
                                   class="form-check-input" value="false"> Nữ

                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Số CMND</label>
                        <div class="col-sm-10">
                            <input type="number" id="iDCardEdit" th:field="*{iDCard}" class="form-control"
                                   name="iDCard">
                            <p th:errors="*{iDCard}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Số Điện Thoại </label>
                        <div class="col-sm-10">
                            <input th:field="*{phoneNumber}" id="phoneNumberEdit" type="number" class="form-control"
                                   name="phoneNumber">
                            <p th:errors="*{phoneNumber}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Email </label>
                        <div class="col-sm-10">
                            <input type="email" id="emailEdit" th:field="*{email}" class="form-control" name="email">
                        </div>
                        <p th:errors="*{email}" class="text-danger"></p>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Địa Chỉ </label>
                        <div class="col-sm-10">
                            <input type="text" id="addressEdit" th:field="*{address}" class="form-control"
                                   name="address">
                            <p th:errors="*{address}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Kiểu Khách</label>
                        <div class="col-sm-10">
                            <select th:field="*{customerType}" id="typeEdit" class="form-select" name="customerType">
                                <option th:each="type : ${listType}" th:value="${type.id}"
                                        th:text="${type.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary">Xác Nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contentSuccess">Thêm Mới Thành Công</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 id="successText"></h2>
            </div>
            <div class="modal-footer">
                <button data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-primary">Đồng Ý</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác Nhận Xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/delete}" method="post">
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa <b>
                        <span id="nameDelete"></span>
                    </b> ?</p>
                </div>
                <input type="hidden" name="id" id="idDelete">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Xóa</button>
                </div>
            </form>

        </div>
    </div>
</div>
<input type="hidden" id="validate" th:value="${validate}">
<input type="hidden" id="addCheck" th:value="${addSuccess}">
<input type="hidden" id="successCrud" th:value="${successCrud}">
<input type="hidden" id="nameFind" th:value="${nameFind}">
<input type="hidden" id="isEmpty" th:value="${isEmpty}">
<input type="hidden" id="emailFind" th:value="${emailFind}">
<input type="hidden" id="typeFind" th:value="${typeFind}">
<input type="hidden" id="listNumber" th:value="${list.number}">
<input type="hidden" id="nexPage" th:value="${list.number +1}">
<input type="hidden" id="prePage" th:value="${list.number -1}">
<input type="hidden" id="hasNext" th:value="${list.hasNext()}">
<input type="hidden" id="hastPrevious" th:value="${list.hasPrevious()}">

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    // http://localhost:8080/customer/find?name=đắc&email=&type=&page=0
    let name = $('#nameFind').val();
    let email = $('#emailFind').val();
    let type = $('#typeFind').val();
    let page = $('#listNumber').val();
    let nexPage = $('#nexPage').val();
    let prePage = $('#prePage').val();
    let hasNext = $('#hasNext').val();
    let hasPrevious = $('#hastPrevious').val();
    if (hasNext == "true") {
      document.getElementById("nex").className = "btn btn-light"
      document.getElementById("nex").style.pointerEvents = "auto"
    } else {
        document.getElementById("nex").className = "btn btn-outline-light"
        document.getElementById("nex").style.pointerEvents = "none"
    }
    if (hasPrevious == "true") {
        document.getElementById("pre").className = "btn btn-light"
        document.getElementById("pre").style.pointerEvents = "auto"
    } else {
        document.getElementById("pre").className = "btn btn-outline-light"
        document.getElementById("pre").style.pointerEvents = "none"
    }
    let nextLink = "/customer/find?name="+name+"&email="+email+"&type="+type+"&page="+nexPage
    let preLink = "/customer/find?name="+name+"&email="+email+"&type="+type+"&page="+prePage
    $("#nex").attr("href", nextLink);
    $("#pre").attr("href", preLink);



    let addCheck = $('#addCheck').val();
    if (addCheck != null && addCheck != "") {
        $(document).ready(
            function () {
                $('#success').appendTo('body').modal('show')
            }
        )
    }
    let modalSuccess = $('#successCrud').val();
    switch (modalSuccess) {
        case "add":
            document.getElementById("successText").innerHTML = "Đã thêm mới khách hàng <b>" + addCheck + "</b> thành công";
            document.getElementById("contentSuccess").innerHTML = "Thêm Mới Khách Hàng Thành Công";
            break;
        case "edit":
            document.getElementById("successText").innerHTML = "Sửa thông tin khách hàng <b>" + addCheck + "</b> thành công";
            document.getElementById("contentSuccess").innerHTML = "Thay Đổi Thông Tin Thành Công";
            break;
    }
    let validate = $('#validate').val();
    switch (validate) {
        case "add":
            $(document).ready(
                function () {
                    $('#addmodal').appendTo('body').modal('show')
                }
            )
            break
        case "edit":
            $(document).ready(
                function () {
                    $('#editModal').appendTo('body').modal('show')
                }
            )
            break
    }
    let isEmpty = document.getElementById("isEmpty").value;
    if (isEmpty == "true") {
        document.getElementById("checkTable").style.display = "none";
        document.getElementById('resultFind').style.display = "block";
    } else {
        document.getElementById("checkTable").style.display = "block";
        document.getElementById('resultFind').style.display = "none";
    }

    function update(id, name, date, gender, cmnd, phoneNumber, email, address, typeId) {
        document.getElementById("idEdit").value = id;
        document.getElementById("nameEdit").value = name;
        document.getElementById("dateOfBirthEdit").value = date;
        if (gender == "true") {
            document.getElementById("genderS1").checked = true;
            document.getElementById("genderS2").checked = false;
        } else {
            document.getElementById("genderS1").checked = false;
            document.getElementById("genderS2").checked = true;
        }
        document.getElementById("iDCardEdit").value = cmnd;
        document.getElementById("phoneNumberEdit").value = phoneNumber;
        document.getElementById("emailEdit").value = email;
        document.getElementById("addressEdit").value = address;
        document.getElementById("typeEdit").value = typeId;
    }



    function deleteCustomer(id, name) {
        document.getElementById("nameDelete").innerText = name;
        document.getElementById("idDelete").value = id;
    }

</script>
</html>