<div class="row">
  <nav class="navbar navbar-light" style="background-color: teal">
    <div class="container-fluid" style="position: relative">
      <a class="navbar-brand"
         [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>

      <button class="btn btn-light" style="position: absolute;left: 100px" data-bs-toggle="modal"
              data-bs-target="#addmodal">Tạo Hợp Đồng
      </button>
      <form action="/contract/find" method="get" style="position:absolute ;top: 1px;right: 30px"
            class="d-flex">
        <input class="form-control me-2" type="search" name="facility" placeholder="Dịch Vụ"
               aria-label="Search">
        <input class="form-control me-2" type="search" name="customer" placeholder="Khách Hàng"
               aria-label="Search">
        <input class="form-control me-2" type="search" name="employee" placeholder="Nhân Viên"
               aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Tìm</button>
      </form>
    </div>
  </nav>
</div>
<div class="bgimg" style="margin-bottom: -80px">
  <br> <br> <br>
  <table class="table" style="backdrop-filter: blur(10px);color: aliceblue;font-weight: bold">
    <thead>
    <tr>
      <th>#</th>
      <th>Dịch Vụ</th>
      <th>Nhân Viên</th>
      <th>Khách Hàng</th>
      <th>Ngày Bắt Đầu</th>
      <th>Ngày Kết Thúc</th>
      <th>Tiền Đặt Cọc</th>
      <th>Tổng Tiền</th>
      <th>Các Dịch Vụ Đi Kèm</th>
    </tr>
    </thead>
    <tbody id="my-body">
    <tr *ngFor="let x of contracts; index as i">
      <th>{{i + 1}}</th>
      <th>{{x.facility.name}}</th>
      <th>{{x.employee.name}}</th>
      <th>{{x.customer.name}}</th>
      <th>{{x.startDay | date: "longDate"}}</th>
      <th>{{x.endDay | date: "longDate"}}</th>
      <th>{{x.cost | currency}}</th>
      <th>9000000đ</th>
      <th>
        <button class="btn btn-outline-light" (click)="checkForEdit(x)" data-bs-toggle="modal" data-bs-target="#editModal">+</button>
        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#viewAttachFacility"
                onclick="showListAttachFacility(${data[i].id})">Danh Sách Dịch Vụ Đi Kèm
        </button>
      </th>
    </tr>
    </tbody>
  </table>
  <div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-outline-light" style="margin: 4px" id="pre">Previous</a>
    <button id="pagez" class="btn btn-outline-light" style="margin: 4px">1</button>
    <a class="btn btn-outline-light" id="nex" style="margin: 4px">Next</a>
  </div>
 <br> <br> <br>
</div>
<div class="modal" tabindex="-1" id="addDetail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm dịch vụ đi kèm <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/contract/add}" method="post" th:object="${contractDetail}">

          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dịch Vụ</label>
            <div class="col-sm-10">
              <select th:field="*{attachFacility}" id="attachFacilityAdd" class="form-control">
                <option th:each="facility : ${listAttach}" th:text="${facility.name}"
                        th:value="${facility.id}"></option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số Lượng</label>
            <input type="hidden" th:field="*{contract}" id="contractIdAdd">
            <div class="col-sm-10">
              <input type="number" id="quantityAdd" class="form-control" th:field="*{quantity}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="button" onclick="addContractDetail()" class="btn btn-primary">Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="viewAttachFacility">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dịch Vụ Đi Kèm Của Hợp Đồng Này</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <input type="hidden" th:value="${modal}" id="modalCheck">
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Dịch Vụ</th>
            <th>Đơn Giá</th>
            <th>Xuất</th>
            <th>Trạng Thái</th>
            <th>Số Lượng</th>
            <th>Tổng Tiền</th>
          </tr>
          </thead>
          <tbody id="tableAttachFacilityNew">
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Thoát</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="addmodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo Hợp Đồng <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAdd" (ngSubmit)="createContract()">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Bắt Đầu</label>
            <div class="col-sm-10">
              <input type="date" [class.successInput]="formAdd.controls.startDay.valid && formAdd.controls.startDay.dirty" [class.borderError]="formAdd.controls.startDay.invalid && formAdd.controls.startDay.touched" class="form-control" formControlName="startDay">
              <p class="errorForm" *ngIf="formAdd.controls.startDay.hasError('required') && formAdd.controls.startDay.touched">Vui lòng nhập ngày bắt đầu</p>
              <p class="errorForm" *ngIf="formAdd.controls.startDay.hasError('todayValid') && formAdd.controls.startDay.touched">Ngày bắt đầu phải lớn hơn ngày hôm nay</p>

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Kết Thúc</label>
            <div class="col-sm-10">
              <input #end (change)="endDayValid(end.value)" [class.successInput]="formAdd.controls.endDay.valid && formAdd.controls.endDay.dirty" [class.borderError]="formAdd.controls.endDay.invalid && formAdd.controls.endDay.touched" type="date" class="form-control" formControlName="endDay">
              <p class="errorForm" *ngIf="formAdd.controls.endDay.hasError('required') && formAdd.controls.endDay.touched">Vui lòng nhập ngày kết thúc</p>
              <p class="errorForm" *ngIf="formAdd.controls.endDay.hasError('endInvalid') && formAdd.controls.endDay.touched">Ngày kết thúc phải lớn hơn ngày bắt đầu </p>

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tiền Gửi</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="cost" [class.successInput]="formAdd.controls.cost.valid && formAdd.controls.cost.dirty" [class.borderError]="formAdd.controls.cost.invalid && formAdd.controls.cost.dirty">
              <p class="errorForm" *ngIf="formAdd.controls.cost.hasError('required') && formAdd.controls.cost.dirty">Vui lòng nhập chi phí thuê</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tổng Tiền</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" readonly >
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Khách Hàng</label>
            <div class="col-sm-10">
              <select [class.successInput]="formAdd.controls.customer.valid && formAdd.controls.customer.dirty" [class.borderError]="formAdd.controls.customer.invalid && formAdd.controls.customer.touched" class="form-control" formControlName="customer">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn khách hàng</option>
                <option *ngFor="let x of customers" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formAdd.controls.customer.hasError('required') && formAdd.controls.customer.touched">Vui lòng chọn khách hàng</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nhân Viên</label>
            <div class="col-sm-10">
              <select [class.successInput]="formAdd.controls.employee.valid && formAdd.controls.employee.dirty" [class.borderError]="formAdd.controls.employee.invalid && formAdd.controls.employee.touched" class="form-control" formControlName="employee">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn nhân viên</option>
                <option *ngFor="let x of employees" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formAdd.controls.employee.hasError('required') && formAdd.controls.employee.touched">Vui lòng chọn nhân viên</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dịch Vụ</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="facility" [class.successInput]="formAdd.controls.facility.valid && formAdd.controls.facility.dirty" [class.borderError]="formAdd.controls.facility.invalid && formAdd.controls.facility.touched">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn dịch vụ</option>
                <option *ngFor="let x of facilitys" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formAdd.controls.facility.hasError('required') && formAdd.controls.facility.touched">Vui lòng chọn dịch vụ</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" data-bs-dismiss="modal" [class.btn-outline-danger]="formAdd.invalid" [disabled]="formAdd.invalid" class="btn btn-primary">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="editModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thay Đổi Hợp Đồng <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdit" (ngSubmit)="updateContract()">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Bắt Đầu</label>
            <div class="col-sm-10">
              <input #today (change)="todayValid2(today.value)" [class.successInput]="formEdit.controls.startDay.valid && formEdit.controls.startDay.dirty" [class.borderError]="formEdit.controls.startDay.invalid && formEdit.controls.startDay.touched" type="date" class="form-control" formControlName="startDay">
              <p class="errorForm" *ngIf="formEdit.controls.startDay.hasError('required') && formEdit.controls.startDay.touched">Vui lòng nhập ngày bắt đầu</p>
              <p class="errorForm" *ngIf="formEdit.controls.startDay.hasError('todayValid') && formEdit.controls.startDay.touched">Ngày bắt đầu phải lớn hơn ngày hôm nay</p>
              <input type="hidden" class="form-control" formControlName="id">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Kết Thúc</label>
            <div class="col-sm-10">
              <input #endDay (change)="endValid2(endDay.value)" [class.successInput]="formEdit.controls.endDay.valid && formEdit.controls.endDay.dirty" [class.borderError]="formEdit.controls.endDay.invalid && formEdit.controls.endDay.touched" type="date" class="form-control" formControlName="endDay">
              <p class="errorForm" *ngIf="formEdit.controls.endDay.hasError('required') && formEdit.controls.endDay.touched">Vui lòng nhập ngày kết thúc</p>
              <p class="errorForm" *ngIf="formEdit.controls.endDay.hasError('endValid') && formEdit.controls.endDay.touched">Ngày kết thúc phải lớn hơn ngày bắt đầu </p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tiền Gửi</label>
            <div class="col-sm-10">
              <input [class.successInput]="formEdit.controls.cost.valid && formEdit.controls.cost.dirty" [class.borderError]="formEdit.controls.cost.invalid && formEdit.controls.cost.dirty" type="number" id="depositEdit" class="form-control" formControlName="cost">
              <p class="errorForm" *ngIf="formEdit.controls.cost.hasError('required') && formEdit.controls.cost.dirty">Vui lòng nhập tiền gửi</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tổng Tiền</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" readonly id="tongTienEdit">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Khách Hàng</label>
            <div class="col-sm-10">
              <select [class.successInput]="formEdit.controls.customer.valid && formEdit.controls.customer.dirty" [class.borderError]="formEdit.controls.customer.invalid && formEdit.controls.customer.touched" class="form-control" formControlName="customer" [compareWith]="compareFN">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn khách hàng</option>
                <option *ngFor="let x of customers" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formEdit.controls.customer.hasError('required') && formEdit.controls.customer.touched">Vui lòng chọn khách hàng</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nhân Viên</label>
            <div class="col-sm-10">
              <select [class.successInput]="formEdit.controls.employee.valid && formEdit.controls.employee.dirty" [class.borderError]="formEdit.controls.employee.invalid && formEdit.controls.employee.touched" class="form-control" formControlName="employee" [compareWith]="compareFN">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn nhân viên</option>
                <option *ngFor="let x of employees" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formEdit.controls.employee.hasError('required') && formEdit.controls.employee.touched">Vui lòng chọn nhân viên</p>

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dịch Vụ</label>
            <div class="col-sm-10">
              <select [class.successInput]="formEdit.controls.facility.valid && formEdit.controls.facility.dirty" [class.borderError]="formEdit.controls.facility.invalid && formEdit.controls.facility.touched" class="form-control" formControlName="facility" [compareWith]="compareFN">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn dịch vụ</option>
                <option *ngFor="let x of facilitys" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formEdit.controls.facility.hasError('required') && formEdit.controls.facility.touched">Vui lòng chọn dịch vụ</p>
            </div>
          </div>

          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dịch Vụ Đi Kèm</label>
            <div class="col-sm-10">
              <button type="button" class="btn btn-primary" onclick="addAttach()" data-bs-toggle="modal"
                      data-bs-target="#addDetail">+
              </button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" data-bs-dismiss="modal" [disabled]="formEdit.invalid" class="btn btn-primary">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
