<h1 style="width: 100%;text-align: center;margin: 20px">Danh sách sản phẩm</h1>
<table class="table">
  <thead>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Danh Mục</td>
    <td>Mô tả</td>
    <td>
     <button class="btn btn-outline-primary" data-bs-target="#addmodal" data-bs-toggle="modal">Thêm Mới <i class="fa-sharp fa-solid fa-user-plus"></i></button>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products | paginate: { itemsPerPage: 2, currentPage: p}; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.category.name}}</td>
    <td>{{product.description}}</td>
    <td>
      <button data-bs-toggle="modal" (click)="edit(product)" data-bs-target="#editmodal" class="btn btn-outline-info"><i class="fa-sharp fa-solid fa-hammer"></i></button>
      <button [routerLink]="['/edit',product.id]" class="btn btn-outline-success" style="margin-left: 10px"><i class="fa-sharp fa-solid fa-pen-to-square"></i></button>
      <button  (click)="checkIdForDelete(product.id,product.name)" data-bs-toggle="modal" data-bs-target="#deletemodal" style="margin-left: 10px" class="btn btn-outline-danger"><i class="fa-sharp fa-solid fa-user-slash"></i></button>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
<div class="modal" tabindex="-1" id="deletemodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác Nhận Xóa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa <b style="color: red"> {{name}}</b> ?</p>
        </div>
        <input type="hidden" name="id" id="idDelete">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="deleteById()">Xóa</button>
        </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="editmodal">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sửa thông tin sản phẩm <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reset()" aria-label="Close"></button>
      </div>
      <form [formGroup]="formEdit"  method="post" (ngSubmit)="submit()">
      <div class="modal-body">

          <input type="hidden" formControlName="id">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Sản Phẩm</label>
            <div class="col-sm-10">
              <input type="hidden" formControlName="id" class="form-control" name="id">
              <input type="text" formControlName="name" class="form-control" name="name">
            </div>
          </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Đơn Giá</label>
          <div class="col-sm-10">
            <input type="text" formControlName="price" class="form-control" name="price">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Mô Tả</label>
          <div class="col-sm-10">
            <input type="text" formControlName="description" class="form-control" name="description">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 col-form-label">Danh Mục</label>
          <div class="col-sm-10">
            <select formControlName="category" class="form-control" [compareWith]="compareFn">
              <option  [ngValue]="" [disabled]="true">Chọn Danh Mục</option>
              <option *ngFor="let x of categorys" [ngValue]="x">{{x.name}}</option>
            </select>
          </div>
        </div>
      </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="reset()" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<div class="modal" tabindex="-1" id="addmodal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới sản phẩm <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="reset()" aria-label="Close"></button>
      </div>
      <form [formGroup]="formEdit"  method="post" (ngSubmit)="addSubMit()">
        <div class="modal-body">

<!--          <input type="hidden" formControlName="id">-->
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Sản Phẩm</label>
            <div class="col-sm-10">
              <input type="text" formControlName="name" class="form-control" name="name">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Đơn Giá</label>
            <div class="col-sm-10">
              <input type="text" formControlName="price" class="form-control" name="price">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Mô Tả</label>
            <div class="col-sm-10">
              <input type="text" formControlName="description" class="form-control" name="description">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Danh Mục</label>
            <div class="col-sm-10">
              <select formControlName="category" class="form-control">
                <option [ngValue]="null" [disabled]="true">Chọn Danh Mục</option>
                <option *ngFor="let x of categorys" [ngValue]="x">{{x.name}}</option>
              </select>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="reset()" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác Nhận</button>
        </div>
      </form>
    </div>
  </div>
</div>
