<app-nav-bar></app-nav-bar>
<!--<a class="btn btn-outline-success" style="cursor: pointer;margin-right: 10px" routerLink="/product/list">Danh sách sản phẩm</a> | <a style="margin-left: 10px;margin-right: 10px" class="btn btn-outline-info" routerLink="/product/create">Tạo mới sản phẩm</a>-->
<!-- | <a style="margin-left: 10px" class="btn btn-outline-danger" routerLink="/category/list">Danh sách danh mục sản phẩm</a>-->
<!--<router-outlet></router-outlet>-->
<router-outlet></router-outlet>
<app-footer></app-footer>
