<div class="row">
  <nav class="navbar navbar-light" style="background-color: teal">
    <div class="container-fluid" style="position: relative">
      <a class="navbar-brand"
         [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>

      <button class="btn btn-light" style="position: absolute;left: 100px" data-bs-toggle="modal"
              data-bs-target="#addmodal">Thêm Dịch Vụ
      </button>
      <form th:action="@{/facility/find}" method="get" style="position:absolute ;top: 1px;right: 30px"
            class="d-flex">
        <input class="form-control me-2" type="search" name="name" placeholder="Tên Dịch Vụ"
               aria-label="Search">
        <input class="form-control me-2" type="search" name="type" placeholder="Loại Dịch Vụ"
               aria-label="Searcase_studych">
        <button class="btn btn-outline-light" type="submit">Tìm</button>
      </form>
    </div>
  </nav>
</div>
<div class="bgimg" style="margin-bottom: -80px">
  <br> <br> <br>

  <div style="width: 100%;">
    <div class="card hover" style="width: 18rem;display: inline-block;margin-left: 30px;margin-top: 20px" *ngFor="let item of facilityList">
      <img [src]="item.image" class="card-img-top imgcard imgbutton" alt="..." style="cursor: pointer" data-bs-toggle="modal"
           data-bs-target="#editmodal" (click)="update(item)">
      <div class="card-body">
        <p class="card-text" style="font-weight: bold;font-size: 20px">{{item.name}}</p>
        <p class="card-text" style="font-weight: lighter;margin-top: -15px;width: 100%">Room size: {{item.area}}
          m<sup>2</sup> <a href="" style="position: absolute;right: 15px;text-decoration: none;color: darkgreen"><i
            class="fa-sharp fa-solid fa-paper-plane"></i> Know more</a></p>

      </div>
    </div>
  </div>
  <br> <br>
  <br> <br>
  <div class="d-flex justify-content-center">
    <a class="btn btn-outline-light" style="margin: 4px">Previous</a>
    <span class="btn btn-outline-light" style="margin: 4px">1</span>
    <a class="btn btn-outline-light" style="margin: 4px">Next</a>
  </div>
  <br> <br>
</div>

<div class="modal " tabindex="-1" id="addmodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm mới dịch vụ <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close clearError" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" [formGroup]="formAdd" (ngSubmit)="create()">
          <input type="hidden" name="validate" value="add">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Loại Dịch Vụ</label>
            <div class="col-sm-10">
              <select [class.successInput]="formAdd.controls.facilityType.valid && formAdd.controls.facilityType.dirty" [class.borderError]="formAdd.controls.facilityType.invalid && formAdd.controls.facilityType.touched" class="form-control"  formControlName="facilityType" (change)="checkValue()" >
                <option [value]="null"  [selected]="true" [disabled]="true" >Chọn Loại Dịch Vụ</option>
                <option *ngFor="let x of facilityTypeList" class="form-control" [ngValue]="x"  >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formAdd.controls.facilityType.hasError('required') && formAdd.controls.facilityType.touched">Vui lòng chọn loại dịch vụ</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tên Dịch Vụ</label>
            <div class="col-sm-10">
              <input [class.successInput]="formAdd.controls.name.valid && formAdd.controls.name.dirty" [class.borderError]="formAdd.controls.name.invalid && formAdd.controls.name.dirty" type="text" class="form-control" formControlName="name">
              <p class="errorForm" *ngIf="formAdd.controls.name.hasError('required') && formAdd.controls.name.dirty">Vui lòng nhập tên dịch vụ</p>

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Diện Tích</label>
            <div class="col-sm-10">
              <input [class.successInput]="formAdd.controls.area.valid && formAdd.controls.area.dirty" [class.borderError]="formAdd.controls.area.invalid && formAdd.controls.area.dirty" type="number" class="form-control" formControlName="area">
              <p class="errorForm" *ngIf="formAdd.controls.area.hasError('required') && formAdd.controls.area.dirty">Vui lòng nhập diện tích sử dụng</p>

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Chi Phí Thuê</label>
            <div class="col-sm-10">
              <input [class.successInput]="formAdd.controls.cost.valid && formAdd.controls.cost.dirty" [class.borderError]="formAdd.controls.cost.invalid && formAdd.controls.cost.dirty"  type="number" class="form-control" formControlName="cost">
              <p class="errorForm" *ngIf="formAdd.controls.cost.hasError('required') && formAdd.controls.cost.dirty">Vui lòng nhập chi phí thuê</p>

            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số Người Tối Đa</label>
            <div class="col-sm-10">
              <input [class.successInput]="formAdd.controls.maxPeople.valid && formAdd.controls.maxPeople.dirty" [class.borderError]="formAdd.controls.maxPeople.invalid && formAdd.controls.maxPeople.dirty" type="number" class="form-control" formControlName="maxPeople">
              <p class="errorForm" *ngIf="formAdd.controls.maxPeople.hasError('required') && formAdd.controls.maxPeople.dirty">Vui lòng nhập số người tối đa</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Kiểu Thuê</label>
            <div class="col-sm-10">
              <select [class.successInput]="formAdd.controls.rentType.valid && formAdd.controls.rentType.dirty" [class.borderError]="formAdd.controls.rentType.invalid && formAdd.controls.rentType.touched" class="form-control" formControlName="rentType">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn Kiểu Thuê</option>
                <option *ngFor="let x of rentTypeList" class="form-control" [ngValue]="x" >{{x.name}}</option>
              </select>
              <p class="errorForm" *ngIf="formAdd.controls.rentType.hasError('required') && formAdd.controls.rentType.touched">Chọn kiểu thuê</p>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Hình Ảnh</label>
            <div class="col-sm-10">
              <input [class.successInput]="formAdd.controls.image.valid && formAdd.controls.image.dirty" [class.imageError]="formAdd.controls.image.invalid && formAdd.controls.image.touched" type="text" class="form-control" formControlName="image">
              <p class="urlImage" *ngIf="formAdd.controls.image.hasError('required') && formAdd.controls.image.touched">Hãy nhập link url để cho có hỉnh ảnh đẹp hơn :D</p>

            </div>
          </div>
          <div *ngIf="idAdd == 1 || idAdd == 2" class="mb-3 row" id="standardAdd">
            <label class="col-sm-2 col-form-label">Tiêu Chuẩn Phòng</label>
            <div class="col-sm-10">
              <input #stanDard (change)="checkStandard(stanDard.value)" [class.successInput]="formAdd.controls.standard.valid && formAdd.controls.standard.dirty" [class.borderError]="formAdd.controls.standard.invalid && formAdd.controls.standard.dirty" type="text" class="form-control"  formControlName="standard">
              <p class="errorForm" *ngIf="formAdd.controls.standard.hasError('nullStandard') && formAdd.controls.standard.dirty">{{standardError}}</p>

            </div>
          </div>
          <div *ngIf="idAdd == 1 || idAdd == 2" class="mb-3 row" id="descriptionAdd">
            <label class="col-sm-2 col-form-label">Mô Tả Khác</label>
            <div class="col-sm-10">
              <input #decription (change)="checkDescription(decription.value)" [class.successInput]="formAdd.controls.description.valid && formAdd.controls.description.dirty" [class.borderError]="formAdd.controls.description.invalid && formAdd.controls.description.dirty" type="text" class="form-control" formControlName="description">
              <p class="errorForm" *ngIf="formAdd.controls.description.hasError('nullDescription') && formAdd.controls.description.dirty">{{descriptionError}}</p>

            </div>
          </div>
          <div *ngIf="idAdd == 1 " class="mb-3 row" id="poolAreaAdd">
            <label class="col-sm-2 col-form-label">Diện Tích Hồ Bơi</label>
            <div class="col-sm-10">
              <input #pool (change)="checkPool(pool.value)" [class.successInput]="formAdd.controls.poolArea.valid && formAdd.controls.poolArea.dirty" [class.borderError]="formAdd.controls.poolArea.invalid && formAdd.controls.poolArea.dirty" type="number" class="form-control" formControlName="poolArea">
              <p class="errorForm" *ngIf="formAdd.controls.poolArea.hasError('nullPoolArea') && formAdd.controls.poolArea.dirty">{{messagePoolError}}</p>

            </div>
          </div>
          <div *ngIf="idAdd == 1 || idAdd == 2" class="mb-3 row" id="numberOfFloorAdd">
            <label class="col-sm-2 col-form-label">Số Tầng</label>
            <div class="col-sm-10">
              <input (change)="checkFloor(floor.value)" #floor [class.successInput]="formAdd.controls.floor.valid && formAdd.controls.floor.dirty" [class.borderError]="formAdd.controls.floor.invalid && formAdd.controls.floor.dirty" type="number" class="form-control" formControlName="floor">
              <p class="errorForm" *ngIf="formAdd.controls.floor.hasError('nullFloor') && formAdd.controls.floor.dirty">{{floorError}}</p>
            </div>
          </div>
          <div  class="mb-3 row " id="addFreeService">
            <label class="col-sm-2 col-form-label">Dịch Vụ Miễn Phí</label>
            <div class="col-sm-10">
              <input (change)="checkFreeFacility(free.value)" #free [class.successInput]="formAdd.controls.facilityFree.valid && formAdd.controls.facilityFree.dirty" [class.borderError]="formAdd.controls.facilityFree.invalid && formAdd.controls.facilityFree.dirty" type="text" class="form-control" formControlName="facilityFree">
              <p class="errorForm" *ngIf="formAdd.controls.facilityFree.hasError('nullFreeFacility') && formAdd.controls.facilityFree.dirty">Hãy nhập dịch vụ miễn phí đi kèm cho Room</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary clearError" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" [disabled]="formAdd.invalid" class="btn btn-primary" data-bs-dismiss="modal">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div><div class="modal " tabindex="-1" id="editmodal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sửa thông tin dịch vụ <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close clearError" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" [formGroup]="formEdit" (ngSubmit)="updateFacility()">
          <input type="hidden" name="validate" value="add">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Loại Dịch Vụ</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="facilityType" (change)="changeIDEdit()" [compareWith]="compareFN">
                <option *ngFor="let x of facilityTypeList" class="form-control" [ngValue]="x"  >{{x.name}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tên Dịch Vụ</label>
            <div class="col-sm-10">
              <input type="hidden" class="form-control" formControlName="id">
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Diện Tích</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="area">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Chi Phí Thuê</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="cost">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Số Người Tối Đa</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="maxPeople">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Kiểu Thuê</label>
            <div class="col-sm-10">
              <select class="form-control" formControlName="rentType" [compareWith]="compareFN">
                <option [value]="null" [selected]="true" [disabled]="true" >Chọn Kiểu Thuê</option>
                <option *ngFor="let x of rentTypeList" class="form-control" [ngValue]="x" >{{x.name}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Hình Ảnh</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="image">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="idEdit == 1 || idEdit == 2">
            <label class="col-sm-2 col-form-label">Tiêu Chuẩn Phòng</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="standard">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="idEdit == 1 || idEdit == 2">
            <label class="col-sm-2 col-form-label">Mô Tả Khác</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="description">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="idEdit == 1 " >
            <label class="col-sm-2 col-form-label">Diện Tích Hồ Bơi</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="poolArea">
            </div>
          </div>
          <div class="mb-3 row" *ngIf="idEdit == 1 || idEdit == 2">
            <label class="col-sm-2 col-form-label">Số Tầng</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" formControlName="floor">
            </div>
          </div>
          <div class="mb-3 row " *ngIf="idEdit == 3">
            <label class="col-sm-2 col-form-label">Dịch Vụ Miễn Phí</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="facilityFree">
            </div>
          </div>
          <div class="mb-3 row " >
            <label class="col-sm-2 col-form-label">Xóa</label>
            <div class="col-sm-10">
              <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                      data-bs-target="#deletemodal" >X</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary clearError" data-bs-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="deletemodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác Nhận Xóa</h5>
        <button type="button" class="btn-close clearError" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form >
        <div class="modal-body">
          <p>Bạn có chắn chắn muốn xóa dịch vụ <b><span>{{nameD}}</span> </b> ?</p>
        </div>
        <input type="hidden" name="id" id="idDelete">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary clearError" data-bs-dismiss="modal">Hủy</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteById()">Xóa</button>
        </div>
      </form>

    </div>
  </div>
</div>

